
<div id="grid" style="width: 100%; height: 800px"></div>

</div>

<script type="text/javascript">
$(function () {
    $('#grid').w2grid({ 
        name: 'grid', 
         show: { 
            toolbar: true,
            footer: true
        },
        fixedBody : true,
        multiSearch: true,
        method: 'GET', // need this to avoid 412 error on Safari
        columns: [
        {field: 'scaffold', caption:'Scaffold', size: '4%'},
		{field: 'chr', caption:'Chr', size: '4%'},
		{field: 'line', caption:'Line', size: '4%'},
		{field: 'category', caption:'Category', size: '4%'},
		{field: 'position', caption:'Position', size: '4%'},
		{field: 'chr_position', caption:'Chromosome position', size: '4%'},
		{field: 'ref', caption:'Ref', size: '4%'},
		{field: 'wt', caption:'WT', size: '4%'},
		{field: 'alt', caption:'Alt', size: '4%'},
		{field: 'het_hom', caption:'Het/hom', size: '4%'},
		{field: 'wt_cov', caption:'WT cov', size: '4%'},
		{field: 'mut_cov', caption:'Mut cov', size: '4%'},
		{field: 'gene', caption:'Gene', size: '4%'},
		{field: 'consequence', caption:'Consequence', size: '4%'},
		{field: 'cdna_position', caption:'cDNA<br>position', size: '4%'},
		{field: 'cds_position', caption:'CDS position', size: '4%'},
		{field: 'amino_acids', caption:'Amino acids', size: '4%'},
		{field: 'codons', caption:'Codons', size: '4%'},
		{field: 'sift', caption:'Sift score', size: '4%'},
		{field: 'primer_type', caption:'Primer type', size: '4%'},
		{field: 'primer_orientation', caption:'Orientation', size: '4%'},
		{field: 'wt_primer', caption:'WT primer', size: '4%'},
		{field: 'alt_primer', caption:'Alt primer', size: '4%'},
		{field: 'common_primer', caption:'Common', size: '4%'}
        ]
    });    
    w2ui['grid'].load('list.json?search=<%= @search%>');
});
</script>