<%= javascript_pack_tag 'haplotype_set' %>

<style>

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

</style>

<h1>
<%= @species %> chromosome <%= @chr %>
</h1>	

<div id="haplotype_plot"></div>

<script type="text/javascript">
	window.addEventListener('load', function(){
		var hap_plot = new HaplotypePlot({
			'csv_file': '<%= @csv_path %>', 
			'width':1000
		});
		console.log(hap_plot);
	});
</script>