/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui 
 *= require w2ui-1.4.3.min
 *= require w2ui-fields-1.4.3.min
 */

@import url(./navigation.scss);




body {
   padding-bottom:150px;   /* Height of the footer */
   font-family: "Roboto";
   font-size: 16px;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

h1, h2, h3, h4, h5, h6, .page-header {
    font-family: "Roboto";
    color: rgb(51, 51, 51);
}

 .footer { 
  position: fixed;
  bottom: 0px;
  width: 100%;
  
  background-color: white;  
}

main{
    width: 100%;
}

#introblurb{
    width: 80%;
    left: 50%;
    /*margin-right: -50%;
    transform: translate(-50%, -50%) }
    *//*transform: translate(10%, 0%);*/
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.around {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

@mixin alert{
    
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    position: fixed;
    float: center;
    top: 130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width:500px;
    cursor:hand;
    background-position: 15px 50%;
    text-align: left;
    padding: 0px 0px 1px 45px;
    overflow:auto;
    z-index: 199;
}

.alert-error {
    @include alert();
    background: #FFE7E7 url('../images/exclamation.png') left no-repeat;
    border-top: 1px solid #E77D7B;
    border-bottom: 1px solid #E77D7B;
    border:1px solid #E77D7B;
    
}


.alert-info {
    @include alert();
    cursor:hand;
    background: #E7F3FF url('../images/information.png') left no-repeat;
    border-top: 1px solid #7BA6D6;
    border-bottom: 1px solid #7BA6D6;
    border:1px solid #7BA6D6;
}

@keyframes alertAnnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes alertAnnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

