.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y-rect{
	fill:rgba(255,255,255,0.5);
}

.y-select{
	fill:rgba(0,0,0, 0.2);
	cursor: pointer;
}
.y-select{
	fill:rgba(0,0,0, 0.2);
	cursor: pointer;
}
.pointer{
	cursor: pointer;
}
.status_rect{
	fill:rgba(255,255,255, 0.1);
	cursor: wait;
}

.status_text_animating{
	animation: blinker 1s linear infinite;
}

.status_text{
	animation: blinker 1s linear;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.haplotype-wrapper {
  display: flex;  
  flex-flow: column wrap;
  text-align: center;
}

.haplotype-wrapper > * {
  padding: 2px;
  flex: 1 100%;
}
.haplotype-control{
  width: 100%;
}

.haplotype-plot{
  flex: 1;
  width: 95%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  width: 40px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 12px;
  left: 1px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.score_labels {
  display:inline-flex;
}

.plot-container{
  // background-color: #C0C0C0;
  // color: #f90;
}

.feature-tag {
  border: none;
  color: white;
  //padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  //font-size: 16px;
  margin: 4px 2px;
  cursor: not-allowed;
}

.feature-highlight{
  fill: black;
  background-color: black;
}

.feature-in-plot{
  cursor: pointer;
}


.feature-no-highlight{
  fill: darkblue;
  background-color: darkblue;
}



