<div id="introblurb" class="panel panel-default">

	<div class="panel-heading">
	<h3>Welcome to the Crop Haplotypes website</h3>
	</div>
	

</div>

<div id="searches"  >

<div id="search_left" class="left"  width="50%" style="min-height:450px" >
				<%=  render 'haplotype_set_selection' %>
</div>
<div id="search_right" class="right"   width="50%" style="min-height:550px">	
		
<% if @sequenceserver %>
<iframe id="sequenceserver" src="sequenceserver" style="position: absolute; width:40%; height:800px; border: none"></iframe>
<% end %>
</div>
