<div id="introblurb">


	<h3>Welcome to the <em>in silico</em> wheat Target Induced Local Lesions In Genome (TILLING) website</h3>

	<p>
	This resource consists of TILLING populations developed in tetraploid durum wheat cv 'Kronos' and hexaploid bread wheat cv 'Cadenza' as part of a joint project between the University of California Davis, Rothamsted Research, The Earlham Institute, and John Innes Centre.
	</p>

	<p>
	We have re-sequenced the exome sequence of &gt;1,000 Kronos and &gt;600 Cadenza mutants using Illumina next-generation sequencing, aligned this raw data to the IWGSC Chinese Spring chromosome arm survey sequence, identified mutations, and predicted their effects based on the protein annotation available at Ensembl Plants.
	</p>
	<br>

</div>

<div id="searches"  >
<div id="search_left" class="left"  width="50%" style="min-height:450px" >
				<%=  render 'search_form' %>
</div>
<div id="search_right" class="right"   width="50%">	
&nbsp;		
<iframe id="sequenceserver" src="sequenceserver" style="position: absolute; width:40%; height:520px; border: none"></iframe>
</div>
